Scrapy
beautifulsoup4
transformers==4.44.0
huggingface_hub==0.24.5
pandas
torch
nltk==3.8.1
#gradio==4.36.1
matplotlib
seaborn
spacy
pyvis==0.3.2
evaluate
python-dotenv==1.0.1
#pip install --upgrade fastapi starlette pydantic gradio
scikit-learn
datasets